services:
  - type: web
    name: backend
    env: node
    plan: free
    buildCommand: cd backend && npm install && npx prisma generate
    startCommand: cd backend && node server.js


    envVars:
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        fromDatabase:
          name: postgres-db
          property: connectionString
  - type: static
    name: frontend
    env: static
    plan: free

    rootDir: frontend
    buildCommand: npm install && npm run build

    staticPublishPath: dist
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: backend
          property: url
    routes:
      - type: rewrite
        source: /**
        destination: /index.html

databases:
  - name: postgres-db
    plan: free
    databaseName: appdb
    user: appuser

version: "1"
